<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="extravagance.css" />
  </head>
  <body>
    <article>
      <h1>{{ title }}</h1>
      <div>
	{% if page_before %}
	First page:
        <a href="{{ first_page.path }}">{{ first_page.slug }}</a><br/>
	Previous page:
        <a href="{{ page_before.path }}">{{ page_before.slug }}</a><br/>
	{% endif %}
	{% if page_after %}
	Next page:
        <a href="{{ page_after.path }}">{{ page_after.slug }}</a><br/>
	Latest page:
        <a href="{{ latest_page.path }}">{{ latest_page.slug }}</a><br/>
	{% endif %}
      </div>
      {% block page_body %}{% endblock %}
    </article>
  </body>
</html>
